<div id="change_password" class="col-md-8 col-md-offset-2">
  <div class="row">
    <h2><%= t('change account') %></h2>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true, tabindex: "1", class: "form-control", placeholder: "Email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.label :password %> <i>(<%= t("leave blank if you don't want to change it") %>)</i><br />
        <%= f.text_field :password, tabindex: "2", class: "form-control", placeholder: "Password", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %><br />
        <%= f.text_field :password_confirmation, tabindex: "3", class: "form-control", placeholder: "Password Confirmation", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <i>(<%= t("we need your current password to confirm your changes") %>)</i><br />
        <%= f.text_field :current_password, tabindex: "4", class: "form-control", placeholder: "Current Password", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <%= f.submit t('change account'), tabindex: "5", class: "form-control btn btn-success", data: { disable_with: t('sending') } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
