<div class="participant">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= t('starttime') %>
		</div>
		<div class="panel-body">
			<%= l(@event.start, format: :short) %>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<%= t('endtime') %>
		</div>
		<div class="panel-body">
			<%= l(@event.end, format: :short) %>
		</div>
	</div>

	<% if @event.owner %>
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading"><%= "#{t('participant list')}(#{@event.users.count}#{t('people')})" %></div>
		<table class="table">

			<% @event.users.each do |u| %>
			<tr>
				<td><%= u.username %></td>
			</tr>
			<% end %>

		</table>
	</div>

	<% end %>
</div>