<%= form_for(@event, class: 'form-horizontal', role: 'form') do |f| %>
  <% if @event.errors.any? %>
    <div class="alert alert-danger">
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :act, @act %>
  <%= f.hidden_field :color, value: @act == 'group' ? 'yellow' : 'blue' %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  
  <% if @act == 'group' %>
    <div class="form-group">
      <%= f.label :message %><br>
      <%= f.text_area :message, class: 'form-control', rows: "3" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.text_field :category, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :place %><br>
    <%= f.text_field :place, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :cost %><br>
    <div class="input-group" style="width:250px;">
    <%= f.number_field :cost, class: 'form-control' %>
      <!-- <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount"> -->
      <div class="input-group-addon"><%= t('yen') %></div>
    </div>
  </div>

  <% if @act == 'group' %>

    <div class="sub_title">
      <h2><%= t("date and time") %></h2>
    </div>

    <p><%= t('number of candidates') %>
    <%= select_tag :timeplans_cnt, options_for_select([1,2,3,4,5]), size: 1 %>
    </p>  

    <% i = 1 %>
    <%= f.fields_for :timeplans do |tp| %>
      <div id="timeplan<%= i %>">
        <h3><%= t('plan') + i.to_s %></h3>
        <div class="form-group">
        <%= tp.label :start %><br>
          <div class="input-group date datetimepicker" style="width:250px;">
            <%= tp.text_field :start, class: 'form-control', placeholder: 'YYYY/MM/DD HH:mm' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <%= tp.label :end %><br>
          <div class="input-group date datetimepicker" style="width:250px;">
            <%= tp.text_field :end, class: 'form-control', placeholder: 'YYYY/MM/DD HH:mm' %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :allday %><br>
          <%= f.check_box :allday %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>

  <% else %>

    <div class="form-group">
      <%= f.label :start %><br>
      <%= f.datetime_select :start %>
    </div>
    <div class="form-group">
      <%= f.label :end %><br>
      <%= f.datetime_select :end %>
    </div>
    <div class="form-group">
      <%= f.label :allday %><br>
      <%= f.check_box :allday %>
    </div>

  <% end %>

  

  <% if @act == 'group' %>

    <div class="sub_title">
      <h2><%= t('invitees') %></h2>
    </div>
    <div class="form-group">
      <%= text_field_tag 'invitees[]', '', id: "invitees1" %>
      <%= text_field_tag 'invitees[]', '', id: "invitees2" %>
      <%= text_field_tag 'invitees[]', '', id: "invitees3" %>
    </div>

  <% end %>

  
  


  <% if @act == 'group' %>
    <div class="form-group">
      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.hidden_field :owner_id, value: current_user.id %>
  <% end %>
  <div style="text-align:center;">
    <%= f.submit class: 'btn btn-default', data: { disable_with: '作成中' } %>
  </div>
<% end %>

<!-- <div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker();
            });
        </script>
    </div>
</div>
 -->