<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :act, @act %>
  <%= f.hidden_field :color, value: @act == 'group' ? 'yellow' : 'blue' %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  
  <% if @act == 'group' %>
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message %>
    </div>
    <% i = 1 %>
    <%= f.fields_for :timeplans do |tp| %>
      <h3><%= t("date and time candidate") + i.to_s %></h3>
      <div class="field">
        <%= tp.label :start %><br>
        <%= tp.datetime_select :start %>
      </div>
      <div class="field">
        <%= tp.label :end %><br>
        <%= tp.datetime_select :end %>
      </div>
      <% i += 1 %>
    <% end %>

  <% else %>

    <div class="field">
      <%= f.label :start %><br>
      <%= f.datetime_select :start %>
    </div>
    <div class="field">
      <%= f.label :end %><br>
      <%= f.datetime_select :end %>
    </div>

  <% end %>

  <div class="field">
    <%= f.label :allday %><br>
    <%= f.check_box :allday %>
  </div>
  
  <h3><%= t('invitees') %></h3>
  <div class="field">
    <%= text_field_tag 'invitees[]' %>
    <%= text_field_tag 'invitees[]' %>
    <%= text_field_tag 'invitees[]' %>
  </div>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :place %><br>
    <%= f.text_field :place %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.number_field :cost %>
  </div>
  


  <% if @act == 'group' %>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </div>
    <%= f.hidden_field :orner, value: @login_user.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
