<% i = 1 %>
<% @timeplans.each do |tp| %>
<div class="time_candidate">
	<div class="sub_title">
		<h2><%= t('plan') + i.to_s %></h2>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<%= t('starttime') %>
		</div>
		<div class="panel-body">
			<%= l(tp.start, format: :short) %>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<%= t('endtime') %>
		</div>
		<div class="panel-body">
			<%= l(tp.end, format: :short) %>
		</div>
	</div>

	<% ent = Entry.find_by(timeplan: tp, user: current_user) %>

	<div id="attendance_btn_<%= ent.id %>">
		<%= render 'entries/attendance_modal', entry: ent %>
	</div>


	<div id="entries_list_tp_<%= tp.id %>">
		<%= render 'entries/list.html', entries: tp.entries %>
	</div>

	<!-- 主催者の場合 -->
	<% if @event.owner == current_user %>

	<!-- イベント確定の為のモーダルウィンドウ -->
	<div id="deside_timeplan_<%= i %>" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">
						<%= @event.title %><br />
						<%=  "#{l(tp.start, format: :short)} 〜 #{l(tp.end, format: :short)}" %>
					</h4>
				</div>

				<div class="modal-body">

					<div class="form-horizontal" role="form">
						<%= form_tag deside_event_path(@event) do %>

						<%= hidden_field_tag :tp_id, tp.id %>
						<div class="form-group">
							<%= label :event, :place, class: "control-label" %>
							<%= text_field :event, :place, class: "form-control", placeholder: "place" %>
						</div>
						<div class="form-group">
							<%= label :event, :address, class: "control-label" %>
							<%= text_field :event, :address, class: "form-control", placeholder: "address" %>
						</div>
						<div class="form-group">
							<%= label :event, :cost, class: "control-label" %>
							<%= number_field :event, :cost, class: "form-control", placeholder: "cost" %>
						</div>
						<div class="form-group">
							<%= label :event, :message, class: "control-label" %>
							<%= text_area :event, :message, class: "form-control", placeholder: "message" %>
						</div>
						<div class="action" align="center">
							<%= submit_tag t('deside'), class: "btn btn-primary deside",
							data: { disable_with: '送信中' } %>
						</div>

						<% end %><!-- end form -->
					</div><!-- /.modal-body -->

				</div><!-- /.form-horizontal -->
				<div class="modal-footer" align="center">

					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div><!-- /.modal-footer -->

			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /#deside_timeplan -->
	<!-- モーダルウィンドウ終了 -->

	<!-- 決定ボタン -->
	<div class="text-center" id="deside_btn_for_timeplan_<%= i %>">
		<button type="button" class="btn btn-primary deside" data-toggle="modal" data-target="#deside_timeplan_<%= i %>"><%= t("deside") %></button>
	</div>

	<% end %><!-- end if -->


	<% i += 1 %><!-- 候補番号インクリメント -->
</div><!-- end time_candidate -->
<% end %><!-- end each -->

