<h1><%= @event.title %></h1>

<div class="row">
  <div class="col-md-8">

    <div class="event_info">

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('owner') %>
        </div>
        <div class="panel-body">
          <%= @event.owner.username %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('message') %>
        </div>
        <div class="panel-body">
          <%= @event.message %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('cost') %>
        </div>
        <div class="panel-body">
          <%= @event.cost.nil? ? t('undecided') : "#{@event.cost}円" %>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <%= t('place') %>
        </div>
        <div class="panel-body">
          <%= @event.place.empty? ? t('undecided') : @event.place %>
          <% unless @event.address.empty? %>
            <div id='map_info' data-json='<%= @hash %>'>
              <div id="map" style='height: 400px;'></div>
            </div>
          <% end %>
        </div>
      </div>

    </div>

    <% if @event.color == 'yellow' %>

      <%= render 'undecided' %>

    <% else %>

      <%= render 'decided' %>

    <% end %>

  </div>

  <div class="col-md-4">

    <div id="chat" data-event="<%= @event.id %>" data-username="<%= current_user.username %>" data-uri="<%= request.host_with_port %>">

      <%= form_for @comment, url: event_comments_path(@event), class: "form-horizontal", remote: true, role: "form" do |f| %>

      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :event_id, value: @event.id %>
      <div class="form-group">
        <%= f.text_area :body, placeholder: t('write comment'), id: "msgbody", class: 'form-control' %>
      </div>

      <div class="text-center">
        <%= f.submit class: "btn btn-primary", id: "send", value: "送信"%>
      </div>

      <% end %>

      <div id="chat_area">

        <%= render 'comments/comments_view' %>
        
      </div>

    </div>

  </div>

</div>

<%= javascript_include_tag 'chat' %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
