<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @event.message %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end %>
</p>

<p>
  <strong>Color:</strong>
  <%= @event.color %>
</p>

<p>
  <strong>Orner:</strong>
  <%= @event.orner %>
</p>

<p>
  <strong>Allday:</strong>
  <%= @event.allday %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>

<p>
  <strong>Password:</strong>
  <%= @event.password %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
