<p id="notice"><%= notice %></p>

<div class="event_info">

  <h1><%= @event.title %></h1>
  <dl>
    <dt><%= t('orner') %></dt>
    <dd><%= @orner_name %></dd>
    <dt><%= t('message') %></dt>
    <dd><%= @event.message %></dd>
  </dl>

  <% if @event.place.empty? %>
  
  <dl>
    <dt><%= t('place') %></dt>
    <dd><%= t('undecided') %></dd>
  </dl>

  <% else %>

  <div class="row" style="margin-bottom:40px;">
    <div class="col-md-8">
      <!-- 地図を表示 -->
      <div id='map_info' data-json='<%= @hash %>'>
        <div id="map" style='height: 400px;'></div>
      </div>
    </div>

    <div id="place_info" class="col-md-4">
      <dl>
        <dt><%= t('place') %></dt>
        <dd><%= @event.place %></dd>
        <dt><%= t('cost') %></dt>
        <dd><%= @event.cost %>円</dd>
      </dl>
    </div>
  </div>
  
  <% end %>

</div>

<% if @event.color == 'yellow' %>

<%= render 'undecided' %>

<% else %>

<%= render 'decided' %>

<% end %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
