<h1><%= @event.title %></h1>
<dl>
	<dt>主催者：</dt>
	<dd><%= @event.orner %></dd>
</dl>

<dl>
	<dt>メッセージ</dt>
	<dd><%= @event.message %></dd>
</dl>

<% i = 1 %>
<% @timeplans.each do |tp| %>
	<h4><%= t('date and time candidate') + i.to_s %></h4>
	<dl>
		<dt><%= t('starttime') %></dt>
		<dd><%= l(tp.start, format: :short) %></dd>
		<dt><%= t('endtime') %></dt>
		<dd><%= l(tp.end, format: :short) %></dd>
	</dl>
	<p><span style="color:red;"><%= tp.attend_cnt %> </span> <%= t("people can participate") %></p>
	<table class="table">
		<tr>
			<th><%= t('participant') %></th>
			<th><%= t('message') %></th>
		</tr>
		
			<% if tp.attend_cnt == 0 %>
				<tr>
					<td colspan="2"><%= t('there is no attendance people') %></td>
				</tr>
			<% else %>
				<% tp.entries.each do |ent| %>
					<% if ent.attendance == true %>
						<tr>
							<td><%= ent.user.username %></td>
							<td><%= ent.message %></td>
						</tr>
					<% end %>
				<% end %>
			<% end %>
		
	</table>

	<% if @event.orner == @login_user.id %>
	<% else %>
		<!-- クリック時表示されるモーダルウィンドウ -->

			<div id="<%= tp.my_entry.id %>" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header" align="center">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">
								<%= @event.title %><br />
								<%=  "#{l(tp.start, format: :short)} 〜 #{l(tp.end, format: :short)}" %>
							</h4>
						</div>

						<div class="modal-body">

							<% if tp.my_entry.attendance == true %>
								<div class="form-horizontal" role="form">
									<%= form_for(tp.my_entry) do |f| %>
									<div class="field">
										<p style="text-align:center;"><%= t('do you want to cancel ?') %>
										</p>
										<%= f.hidden_field :attendance, value: false %>
									</div>
									<div class="action" align="center">
										<%= f.submit value: t('Yes I do'), class: "btn btn-primary" %>
									</div>
									<% end %>
								</div>
							<% else %>
								<div class="form-horizontal" role="form">
									<%= form_for(tp.my_entry) do |f| %>
									<div class="field">
										<%= f.label :message, class: "control-label" %>
										<%= f.text_area :message, class: "form-control", placeholder: "message", style: 'width: 100%;' %>
										<%= f.hidden_field :attendance, value: true %>
									</div>
									<div class="action" align="center">
										<%= f.submit value: t('I can attend'), class: "btn btn-success" %>
									</div>
									<% end %>
								</div>
							<% end %>

						</div>
						<div class="modal-footer" align="center">

							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div><!-- /.modal-footer -->


					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.<%= tp.my_entry.id %> -->
		
		<% if tp.my_entry.attendance == true %>

			<button type="button" class="btn btn-success can" data-toggle="modal" data-target="#<%= tp.my_entry.id %>"><%= t("I can attend") %></button>




		<% else %>
			<button type="button" class="btn btn-danger cant" data-toggle="modal" data-target="#<%= tp.my_entry.id %>"><%= t("I can't attend") %></button>

			

		<% end %>

	<% end %>

	<% i += 1 %>
<% end %>

