<!DOCTYPE html>
<html>
<head>
	<title>Eventplaner</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>

<body>

	<div class="add_alert"></div>
	<% if flash[:notice] %>
	<div class="alert alert-success alert-dismissible top_alert">
		<button class="close" type="button" data-dismiss="alert" area-label="閉じる">×</button>
		<%= flash[:notice] %>
	</div>
	<% end %>
	<% if flash[:alert] %>
	<div class="alert alert-danger alert-dismissible top_alert">
		<button class="close" type="button" data-dismiss="alert" area-label="閉じる">×</button>
		<%= flash[:alert] %>
	</div>
	<% end %>

	<% if user_signed_in? %>
	<div id="wrapper">

		<!-- Navigation -->
		<nav id="top-menu" class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%= link_to 'Event planer', '/', class: "navbar-brand" %>
			</div>
			<!-- /.navbar-header -->

			<ul class="nav navbar-top-links navbar-right">
				
<%
=begin
%>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-alerts">
						<li>
							<a href="#">
								<div>
									<i class="fa fa-comment fa-fw"></i> New Comment
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-twitter fa-fw"></i> 3 New Followers
									<span class="pull-right text-muted small">12 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-envelope fa-fw"></i> Message Sent
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-tasks fa-fw"></i> New Task
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="#">
								<div>
									<i class="fa fa-upload fa-fw"></i> Server Rebooted
									<span class="pull-right text-muted small">4 minutes ago</span>
								</div>
							</a>
						</li>
						<li class="divider"></li>
						<li>
							<a class="text-center" href="#">
								<strong>See All Alerts</strong>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
					</ul>
					<!-- /.dropdown-alerts -->
				</li>
<%
=end
%>

				<!-- /.dropdown -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="fa fa-user fa-fw"></i>
						<%= current_user.username %>
						<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><%= link_to sanitize('<i class="fa fa-user fa-fw"></i>') + t('change profile'), edit_user_path(current_user) %>
						</li>
						<li><%= link_to t('change account'), edit_user_registration_path%>
						</li>
						<li><%= link_to t('cancel account'), cancel_account_user_path(current_user)%>
						</li>
						<li class="divider"></li>
						<li> 
							<%= link_to sanitize('<i class="fa fa-sign-out fa-fw"></i>') + t('log out'), destroy_user_session_path, method: :delete %></a>
						</li>
					</ul>
					<!-- /.dropdown-user -->
				</li>
				
				<!-- /.dropdown -->
			</ul>
			<!-- /.navbar-top-links -->

			<div class="navbar-default sidebar" role="navigation">
				<div class="sidebar-nav navbar-collapse">
					<ul class="nav" id="side-menu">
						<li>
							<%= link_to t('create event'), new_event_path(act: 'single') %>
						</li>
						<li>
							<%= link_to t('invite event'), new_event_path(act: 'group') %>
						</li>
						<li>
							<a href="#"><%= t('show event') %><span class="fa arrow"></span></a>
							<ul class="nav nav-second-level">
								<li><%= link_to t('desided events'), desided_all_events_path %></li>
								<li><%= link_to t('hoseted events'), host_events_path %></li>
								<li><%= link_to t('invited events'), gest_events_path %></li>
							</ul>
							<!-- /.nav-second-level -->
						</li>
						<li>
							<%= link_to t('friends list'), friends_user_path(current_user) %>
						</li>
					</ul>
					<!-- /.nav-second-level -->
				</li>
			</ul>
		</div>
		<!-- /.sidebar-collapse -->
	</div>
	<!-- /.navbar-static-side -->
</nav>

<div id="page-wrapper" style="min-height: 600px;">

	<div id="main">

		<%= yield %>

	</div>
	<!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<% else %>

	<div id="user_management" class="col-md-6 col-md-offset-3">

		<div class="panel panel-user">

			<%= yield %>
		</div>
	</div>
<% end %>

</body>

</html>
