<!DOCTYPE html>
<html>
<head>
	<title>Eventplan</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
</head>
<body>

	<header>
		<nav class="navbar navbar-default navbar-fixed-top">

			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".target">
						<span class="icon_bar"></span>
						<span class="icon_bar"></span>
						<span class="icon_bar"></span>
					</button>
					<%= link_to 'Home', '/', class: "navbar-brand" %>
				</div><!-- .navbar-header -->


				<div class="collapse navbar-collapse target">
					<% if user_signed_in? %> 
					<ul class="nav navbar-nav">
						<li><%= link_to t('hoseted event'), host_events_path %></li>
						<li><%= link_to t('invited event'), gest_events_path %></li>


					</ul>

					<ul class="nav navbar-nav navbar-right">
						<!-- user_signed_in? はユーザがログインしているか調べるdeviseのHelperメソッド -->
						
						<li><%= link_to t('change profile'), edit_user_registration_path %></li>
						<li><%= link_to t('log out'), destroy_user_session_path, method: :delete %></li>
					</ul>
					<% else %>
					<ul class="nav navbar-nav navbar-right">	
						<li>
							<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login_view">
								<%= t 'log in' %>
							</button>
						</li>
					</ul>
					<% end %>
				</div><!-- .collapse navbar-collapse target -->
			</div>
		</nav>

	</header>

	<!-- ログインの為のモーダルウィンドウ -->
	<% unless user_signed_in? %>
	<div id="login_view" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header" align="center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Log in</h4>
				</div>
				<div class="modal-body" align="center">

					<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
					<div class="field">
						<%= f.label :email %><br />
						<%= f.email_field :email, autofocus: true %>
					</div>

					<div class="field">
						<%= f.label :password %><br />
						<%= f.password_field :password, autocomplete: "off" %>
					</div>

					<% if devise_mapping.rememberable? -%>
					<div class="field">
						<%= f.check_box :remember_me %>
						<%= f.label :remember_me %>
					</div>
					<% end %>
					
					<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />

					<div class="actions">
						<%= f.submit "Log in", class: "btn btn-primary" %>
					</div>

					<% end %>

				</div>
				<div class="modal-footer" align="center">
					<%= link_to "Sign up", new_registration_path(resource_name),style: "text-align:center;" %><br />

					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div><!-- /.modal-footer -->
				
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.login_view -->
	<% end %>

	<div class="container main">

		<% if flash[:notice] %>
			<div class="alert alert-success alert-dismissible">
			<button class="close" type="button" data-dismiss="alert" area-label="閉じる">×</button>
				<%= flash[:notice] %>
			</div>
		<% end %>

		<% if flash[:alert] %>
			<div class="alert alert-danger alert-dismissible">
			<button class="close" type="button" data-dismiss="alert" area-label="閉じる">×</button>
				<%= flash[:alert] %>
			</div>
		<% end %>

		<div class="add_alert"></div>

		<%= yield %>
	</div>



</body>
</html>
